name: Test

on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false

      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    env:
      DUNE_CACHE_ROOT: ${GITHUB_WORKSPACE}/.cache/dune

    steps:
      # Without this, tests will fail on Windows because Coqfmt uses LF as a
      # newline while the cloned source code contains CRLF.
      - name: Modify the git setting not to convert LF to CRLF
        run: git config --global core.autocrlf input

      - uses: actions/checkout@v3

      - uses: actions/cache@v2
        with:
          path: ${{ env.DUNE_CACHE_ROOT }}
          key: ${{ runner.os }}-dune-${{ hashFiles('**/dune-project') }}
          restore-keys: |
            ${{ runner.os }}-dune-

      # See https://github.com/ocaml-opam/opam-repository-mingw#updates for `opam-repositories`.
      - uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: "4.14.1"
          opam-repositories: |
            opam-repository-mingw: https://github.com/ocaml-opam/opam-repository-mingw.git#sunset
            default: https://github.com/ocaml/opam-repository.git
          dune-cache: true

      - name: Install dependencies
        run: opam install --deps-only .

      # Without `opam exec -- `, these commands will fail due to "dune not found"
      # error.
      - name: Build
        run: opam exec -- dune build

      - name: Run tests
        run: opam exec -- dune test

  prettier:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run Prettier
        run: npx --yes prettier --check .

  ocamlformat:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: "4.14.1"
          dune-cache: true

      - uses: ocaml/setup-ocaml/lint-fmt@v2

  test_coq_files:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: "4.14.1"
          dune-cache: true

      - name: Install Coq
        run: opam install coq

      - name: Compile Coq files
        run: find ./test/coq_files/**/*.v -print0|xargs -0 -n1 opam exec -- coqc
